---
title: 館内施設｜箱根マイセンアンテイーク美術館 - 箱根観光スポット
description: 箱根マイセンアンテイーク美術館併設のカフェやギフトショップのご案内です。
path: cofe.html
---
.billboard--cafe
  .billboard__screen
.content
  %h1.pageTitle
    館内施設
    %span
      Facilities
  %section
    %h2.sectionTitle カフェ <span>Cafe Space</span>
    .layoutIntroduction
      .layoutIntroduction__content
        .horizontalImages
          .element
            = image_tag 'img_pic-cafe0.jpg', alt: 'カフェ内観', width: '500'
          .element
            = image_tag 'img_pic-cafe1.jpg', alt: '提供例', width: '500'
        %h3.subTitle マイセンカップで戴く贅沢なひととき
        %p
          時を忘れてしまう静寂の中で優雅なカフェタイムを。<br>
          箱根の澄み切った空気と豊かな緑の中で、こだわりの英国輸入紅茶、コーヒーをマイセンのカップでどうぞ。
    %table.basicTable
      %tr
        %th コーヒー
        %td
          ブレンド、アメリカン、カフェオレ、エスプレッソ、アイスコーヒー、アイスオレ
        %td 各900円
      %tr
        %th 紅茶
        %td ダージリン、アールグレー、アッサム、セイロン、ミルクティー、アイスティー
        %td 各900円
      %tr
        %th ソフトドリンク
        %td オレンジ、グレープフルーツ
        %td 各650円
      %tr
        %th アルコール
        %td ビール
        %td 900円
      %tr
        %th ケーキ
        %td フォンダンショコラ、林檎とさつまいものパイ
        %td 各600円
  %section
    %h2.sectionTitle ギフトショップ <span>Gift Shop</span>
    .layoutIntroduction
      .layoutIntroduction__image
        .horizontalImages
          .element
            = image_tag 'img_cafe-giftshop0.jpg', alt: 'ギフトショップ内観', width: '500'
          .element
            = image_tag 'img_cafe-giftshop1.jpg', alt: 'ギフトショップ外観', width: '500'
      .layoutIntroduction__content
        %h3.subTitle あなたの旅の思い出やマイセンコレクションに
        %p
          マイセン磁器をはじめ様々なアイテムを取り揃えております。
          旅の思い出やコレクションにいかがでしょうか？
    .ranking
      .ranking__content
        .element
          .element__image
            %span 人気1位
            = link_to (image_tag 'img_cafe-gift0.jpg', alt: 'マイセンコーヒーカップ'), 'images/img_cafe-gift0.jpg', data:{lity: ''}
          .element__content
            %h3.subTitle マイセンコーヒーカップ
            %p
              波の戯れシリーズのなかでも人気の高い白磁のコーヒーカップです。。お使いものに大変喜ばれるお品です。
              %span 11000円
        .element
          .element__image
            %span 人気2位
            = link_to (image_tag 'img_cafe-gift1.jpg', alt: 'マグカップ'), 'images/img_cafe-gift1.jpg', data:{lity: ''}
          .element__content
            %h3.subTitle マグカップ
            %p
              様々な色柄形が選べて楽しいイギリス製のマグカップです
              %span 2300円〜
        .element
          .element__image
            %span 人気3位
            = link_to (image_tag 'img_cafe-gift2.jpg', alt: '美術館オリジナル一筆箋'), 'images/img_cafe-gift2.jpg', data:{lity: ''}
          .element__content
            %h3.subTitle 美術館オリジナル一筆箋
            %p
              マイセンミュージアムオリジナルの一筆箋ですマイセン手書き風のフルーツ柄とお花柄を散りばめた素敵な一筆箋です。
              %span 880円
      .ranking__footer
        %p
          この他にも様々なギフト商品がございますので、お帰りの際に是非お立ち寄りください。<br>
          ※ JCB，VISA、DCカードをご利用いただけます。<br>
