---
title: お食事・お土産｜箱根マイセンアンテイーク美術館
description: 当館併設のカフェやギフトショップ、当館直営店カフェドマイセンのご案内。
path: cofe.html
---
.billboard--cafe
  .billboard__screen
.content
  %h1.pageTitle
    カフェ・ギフト
    %span
      Cafe & Gift
  %section
    %h2.sectionTitle 館内カフェ <span>Cafe Space</span>
    .layoutIntroduction
      .layoutIntroduction__content
        %h3.subTitle マイセンカップで戴く贅沢なひととき
        .horizontalImages
          .element
            = image_tag 'img_pic-cafe0.jpg', alt: 'カフェ外観', width: '500'
          .element
            = image_tag 'img_pic-cafe1.jpg', alt: '使用カップ', width: '500'
        %p
          時を忘れてしまう静寂の中で優雅なカフェタイムを。<br>
          箱根の澄み切った空気と豊かな緑の中で、こだわりの英国輸入紅茶、コーヒーをマイセンのカップでどうぞ。
    %table.basicTable
      %tr
        %th コーヒー
        %td
          ブレンド、アメリカン、カフェオレ、エスプレッソ、アイスコーヒー、アイスオレ
        %td 各900円
      %tr
        %th 紅茶
        %td ダージリン、アールグレー、アッサム、セイロン、ミルクティー、アイスティー
        %td 各900円
      %tr
        %th ソフトドリンク
        %td オレンジ、グレープフルーツ
        %td 各650円
      %tr
        %th アルコール
        %td ビール
        %td 900円
      %tr
        %th ケーキ
        %td フォンダンショコラ、林檎とさつまいものパイ
        %td 各600円
  %section
    %h2.sectionTitle ギフトショップ <span>Gift Shop</span>
    .layoutIntroduction
      .layoutIntroduction__image
        = image_tag 'background.png', alt: ''
      .layoutIntroduction__content
        %h3.subTitle 見出し
        %p
          テキストテキストテキストテキストテキストテキスト
    .ranking
      .ranking__content
        .element
          .element__image
            %span 人気1位
            = image_tag 'background.png', alt: ''
          .element__content
            %h3.subTitle マイセンコーヒーカップ
            %p
              波の戯れシリーズのなかでも人気の高い白磁のコーヒーカップです。
              %span 11000円
        .element
          .element__image
            %span 人気2位
            = image_tag 'background.png', alt: ''
          .element__content
            %h3.subTitle 商品名
            %p
              商品解説商品解説商品解説商品解説商品解説商品解説商品解説商品解説商品解説商品解説
              %span 3000円
        .element
          .element__image
            %span 人気3位
            = image_tag 'background.png', alt: ''
          .element__content
            %h3.subTitle 商品名
            %p
              商品解説商品解説商品解説商品解説商品解説商品解説商品解説商品解説商品解説商品解説
              %span 3000円
      .ranking__footer
        %p
          この他にも様々なギフト商品がございますので、お帰りの際に是非お立ち寄りください。