---
title: カフェ ド マイセン｜箱根マイセンアンテイーク美術館 - 箱根観光スポット
description: 強羅駅から徒歩5分のペットOKなおしゃれなカフェ「Cafe de Meissen」。ピザやパンケーキなど豊富なメニューを取り揃えております。テイクアウトもOK!!
path: museum.html
---
.billboard--goura
  .billboard__screen
.content
  %h1.pageTitle
    お食事
    %span
      Meal
  %section
    %h2.sectionTitle カフェドマイセン <span>Cafe de meissen</span>
    .layoutIntroduction
      .layoutIntroduction__content
        .badges
          %span ペット可
          %span テイクアウト
          %span 感染症対策済
        %h3.subTitle 箱根登山鉄道強羅駅徒歩5分、15種類のピザやカレー、パンケーキのお店
        .horizontalImages
          .element
            = image_tag 'img_pic-cafedemissen0.webp', alt: 'カフェドマイセン', width: '500', height: '375'
          .element
            = image_tag 'img_pic-cafedemissen1.webp', alt: 'cafe de meissen', width: '518', height: '375'
        %p
          ペット連れのお客様も大歓迎、
          ピザのテイクアウトもお受けしております。
          カフェ利用だけでなく、お昼のランチにも多数ご利用頂いております。
          強羅公園のお越しの際に是非ご利用下さい。
          近くにお泊り方、犬の散歩の途中お客様もお立ち寄り下さい。
    .ranking
      .ranking__content
        .element
          .element__image
            %span 人気1位
            = link_to (image_tag 'img_goura-ranking0.webp', alt: 'プロシュート＆マスカルポーネ', width: '333', height: '250'), 'images/img_goura-ranking0.webp', data:{lity: ''}
          .element__content
            %h3.subTitle プロシュート＆マスカルポーネ
            %p
              イタリア産熟成生ハム「プロシュート」を使用。生ハムの塩気とフレッシュサラダの甘味がクセになる贅沢な一枚。
              %span 1980円
        .element
          .element__image
            %span 人気2位
            = link_to (image_tag 'img_goura-ranking1.webp', alt: 'マルゲリータ', width: '333', height: '250'), 'images/img_goura-ranking1.webp', data:{lity: ''}
          .element__content
            %h3.subTitle マルゲリータ
            %p
              ピッツァ=マルゲリータと例えられるほど、本場イタリアでも“不動の４番”メニュー。迷ったらこれ！
              %span 1540円
        .element
          .element__image
            %span 人気3位
            = link_to (image_tag 'img_goura-ranking2.webp', alt: 'ビーフシチュー', width: '333', height: '250'), 'images/img_goura-ranking2.webp', data:{lity: ''}
          .element__content
            %h3.subTitle ビーフシチュー
            %p
              コクのあるブラウンソースと牛肉をはじめとした大きな具材が食べ応えのあるビーフシチュー ミニサラダ付き。
              %span 1760円
    .openMenu
      = link_to 'メニューを見る(PDF)', 'images/menu.pdf', target: '_blank'
    .embedElement
      :plain
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3258.259284529143!2d139.04540435081762!3d35.24980476102218!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6019a1f8c27bca3b%3A0x3da358988deea722!2z44Kr44OV44KnIOODiSDjg57jgqTjgrvjg7M!5e0!3m2!1sja!2sjp!4v1623055354798!5m2!1sja!2sjp" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    .shopInfo{itemscope: '', itemtype: 'https://schema.org/LocalBusiness'}
      .shopInfo__image
        = image_tag 'img_pic-cafedemissen.webp', alt: 'カフェドマイセン', itemprop: 'image', width: '259', height: '173'
      .shopInfo__summary
        %h4
          %span{itemprop: 'name'} Cafe de Meissen
        %dl
          %dt 住所:
          %dd
            %span{itemprop: 'address'} 〒250-0408 神奈川県足柄下郡箱根町強羅1300-407
        %dl
          %dt TEL:
          %dd
            %span{itemprop: 'telephone'} 0460-86-1288
        %dl
          %dt 営業時間:
          %dd
            %span{itemprop: 'openingHours'} 11：00〜19：00（年中無休）
        %dl
          %dt 平均予算:
          %dd
            %span{itemprop: 'priceRange'} 1500円〜2000円
