---
title: マイセンの歴史｜箱根マイセンアンテイーク美術館 - 箱根観光スポット
description: マイセンの歴史についてご紹介しております。
path: history.html
---
.billboard--history
  .billboard__screen
.content
  %h1.pageTitle
    マイセンの歴史
    %span
      History of Meissen
  %section
    %h2.sectionTitle マイセンとは <span>About Meissen</span>
    .aboutMeissen
      .aboutMeissen__content
        %p
          17世紀のヨーロッパでは、中国の磁器や日本の伊万里などが人々の憧れでしたが、純白で薄く硬質な磁器をどうしても作ることが出来ませんでした。
        %p
          しかし、1709年に、ザクセンの国王アウグスト2世の命によって長い間研究を続けてきた、ヨハン・フリードリッヒ・ベトガーによって、はじめて白磁の製作に成功し、翌年、アルブレヒト城に磁器工房が設立されました。1717年には染付磁器の焼成にも成功しました。
        %p
          現在、マイセン窯の作品はヨーロッパを席巻し、最も優れた窯といわれています。マイセンのマーク（窯印）は、剣を交差させたもので、時代によって様々に変化しており、現在のマークは1934年以来のものです。
        = image_tag 'img_history-map.png', alt: 'マイセン地図', width: '447', height: '256'
  %section
    %h2.sectionTitle マイセンの窯印 <span>Trademark of Meissen</span>
    %p
      コバルトブルーのマイセン窯印の双剣は1722年に採用されました。窯印は、シュヴェルターと呼ばれる窯印を描くことを専門とする絵付師によって一点一点手描きされます。
    %p
      アウグスト強王の紋章である剣の描き方は、歳月とともに微妙に変化があり、当初は剣が真っすぐで、鍔の部分はわずかに曲がり、柄頭も表されていましたが、時代が下がると、よりサーベルに似た形となり、刃は優雅に湾曲し、鍔は真っすぐになり、柄頭は示されなくなりました。また、刃の交差する位置もしばしば上下に移動、さらに、星形や点、弓形などのマークを双剣に書き添えられたのも現れました。
    %p
      こうした窯印の変遷は、作品の製作年代決定の手段の一つとなっています。また、マイセン磁器製作所の商標として1875年以後、国内外に登録され、かつ法的に保護されています。
  %section
    %h2.sectionTitle 窯印の変遷 <span>Transition of Meissen</span>
    .transition
      .element
        .element__image
          = image_tag 'mark0.gif', alt: '1720-の窯印'
        .element__content
          %h3.subTitle 1720-
          %p
            ヨーロッパ初の磁器を作らせたアウグスト強王のモノグラム。君主が使用する磁器のマークとして用いられました。アウグスト強王の没後もしばしば用いられていますが、20世紀になってからは、製作年を書き加えることによりオリジナルとの混乱を避けています。
      .element
        .element__image
          = image_tag 'mark1.gif', alt: '1731-1763の窯印'
        .element__content
          %h3.subTitle 1731-1763
          %p
            ヨーロッパ初の磁器を作らせたアウグスト強王のモノグラム。君主が使用する磁器のマークとして用いられました。アウグスト強王の没後もしばしば用いられていますが、20世紀になってからは、製作年を書き加えることによりオリジナルとの混乱を避けています。
      .element
        .element__image
          = image_tag 'mark2.gif', alt: '1763-1774の窯印'
        .element__content
          %h3.subTitle 1763-1774
          %p
            1756年以後、とくに1763年から74年には恒常的に、二本の剣の鍔の間に意味の不明な小さな点が一つ表現されるようになりました。剣の形もまた、すでにかなり変化をみせています。
      .element
        .element__image
          = image_tag 'mark3.gif', alt: '1774-1815の窯印'
        .element__content
          %h3.subTitle 1774-1815
          %p
            双剣の柄の間に描かれた小さな星形は、マルコリーニが工場長を勤めていた時代の製品であることを示すもので、1774年から1815年まで用いられました。
      .element
        .element__image
          = image_tag 'mark4.gif', alt: '1815-1820の窯印'
        .element__content
          %h3.subTitle 1815-1820
          %p
            〈マルコリーニの星〉の廃止後、1820年まで、柄の間には数字のIが描かれ、その後どのくらいの期間かはっきりしませんが、IIも用いられています。

      .element
        .element__image
          = image_tag 'mark5.gif', alt: '1820-1924の窯印'
        .element__content
          %h3.subTitle 1820-1924
          %p
            以後、双剣の窯印には何も加えられることなく、描き続けられました。わずかに緩やかな弧を描いた刃は、比較的高い位置で交差し、それが下方の柄頭を引き立たせています。剣はこの形のまま1924年まで変化しません。
      .element
        .element__image
          = image_tag 'mark6.gif', alt: '1924-1933の窯印'
        .element__content
          %h3.subTitle 1924-1933
          %p
            マックス・アドルフ・ファイファーの経営による時代、剣は優雅に湾曲し、柄頭は描かれなくなり、代わって剣先の中間に小さな点が描かれるようになりました。この窯印は1924年から33年まで用いられました。
      .element
        .element__image
          = image_tag 'mark7.gif', alt: '1933-1945の窯印'
        .element__content
          %h3.subTitle 1933-1945
          %p
            1933年から45年まで、双剣の窯印はほぼ一定した形で描かれていますが、〈ファイファーの点〉はありません。
      .element
        .element__image
          = image_tag 'mark8.gif', alt: '1945-1947の窯印'
        .element__content
          %h3.subTitle 1945-1947
          %p
            第二次世界大戦の終結から1947年までの短期間、上方が開いた弓形が双剣の下に描かれました。
      .element
        .element__image
          = image_tag 'mark9.gif', alt: '1947～の窯印'
        .element__content
          %h3.subTitle 1947～
          %p
            今日、双剣の窯印には何も書き加えられていません。刃の交差する位置は比較的中央で、鍔は刃と反対方向にほぼ同様の弧を描いています。
      .element
        .element__image
          = image_tag 'mark10.gif', alt: '特殊な窯印'
        .element__content
          %p
            この窯印は1972年以後の特別な製品に描かれています。また、すべての印刷物にも国立マイセン磁器製作所のシンボルとして入れられています。

