---
title: 美術館のご案内｜箱根マイセンアンテイーク美術館 - 箱根観光スポット
description: 箱根マイセンアンテイーク美術館の展示ルーム、外観、展示品についてのご案内です。
path: museum.html
---
.billboard--museum
  .billboard__screen
.content
  %h1.pageTitle
    美術館のご案内
    %span
      Museum
  %section
    %h2.sectionTitle 展示ルームについて <span>About Show Rooms</span>
    .basicTextBlock
      .basicTextBlock__content
        %p
          当館の展示ルームには、マイセン磁器製所の歴代マイスターの名前を付けています。
          時代様式に合わせてお部屋を作っていますので、当時のお人形や絵付けの中から美術様式の移り変わりや美意識の変化を感じとっていただければ幸いです。
          アンティークの魅力を、館全体で表現出来るよう心がけてご案内申し上げます。
    .showrooms
      .showroom
        .showroom__image
          = image_tag 'room0.jpg', alt: 'ヨハン・フリードリッヒ・ベトガー'
        .showroom__content
          %h3.subTitle ヨハン・フリードリッヒ・ベトガー（1682 - 1719）
          %p
            アウグスト王から命じられ、欧州で始めて磁器土を発見しその製法を完成させた錬金術師。当時、卑金属（鉱物）を金に変える研究家を錬金術師と呼び、様々な研究がなされていました。ベトガーは薬学にも優れており、その手腕を見初めたアウグスト王が白い磁器の発明へと命じました。1700年にシュネーベルグ近郊の聖アンドレアス鉱山でカオリンを産出し、磁器の主原料を手に入れます。その後5年間、磁器焼成の発展はありませんでした。苦しみ抜いたベトガーは幾度と城から逃亡します。その度にアウグスト王に逮捕され、磁器の開発を強いられ、1706年、アルブレヒッツ城内で炻器（せっき）の試作に成功します。それを元に、焼成と長石の化学反応で半透明の白に変化することを発見。遂に1709年、欧州初の白い磁器を完成しました。1710年にはアルブレヒッツブルグ内に工場が設立されマイセンの生産が始り、アウグスト王の念願がかないました。そして、磁器作成の工法が他国に漏れるのを防ごうとベトガーの監禁を続けたのです。外出が許されなかったベトガーは酒に溺れ、1719年に37歳の短い生涯を閉じます。
      .showroom
        .showroom__image
          = image_tag 'room1.jpg', alt: 'ヨハン・グレゴリウス・ヘロルト'
        .showroom__content
          %h3.subTitle ヨハン・グレゴリウス・ヘロルト（1696 - 1775）
          %p
            1720年～中期にかけ活躍した絵付け師ヘロルトは、マイセンでのコバルトを顔料にした絵付け技法や赤絵の顔料なども発見し、マイセンの発展に大きく影響した人物。絵付師の育成にも情熱を注ぎ、現在のマイセン国立製陶養成学校のスタイルを構築したのも彼の功績です。マイセンのシノワズリーを極め、理想のユートピア「中国」の生活を具象化した図案を多く描きました。これはいかにも東洋趣味のアウグスト王の好みであり、また、多くの王侯貴族を魅了してマイセンに注文が殺到しました。
      .showroom
        .showroom__image
          = image_tag 'room2.jpg', alt: 'ヨハン・ヨハイム・ケンドラー'
        .showroom__content
          %h3.subTitle ヨハン・ヨハイム・ケンドラー（1706 - 1775）
          %p
            アウグスト王によってその才能を見出された宮廷彫刻家ケンドラーは、マイセン磁器初期～発展期にかけて欠かすことのできない人物のひとりです。1706年、ドレスデンに近いフィッシュバッハに誕生したケンドラーは、1723年に宮廷彫刻家トーマエの弟子となります。1730年に独立、1735年に磁器の小彫像の他に「白鳥の食器セット」を制作します。1736年に小動物を多数制作、1741年にイタリア喜劇役者をはじめとする人物小像を制作しました。1747年には有名な「猿のオーケストラ」を制作、ほか数々の原型を残します。1775年に68歳で生涯の幕を閉じますが、ケンドラーについては謎が多く、第一次大戦でマイセンの多くの資料が消滅しているのが原因とも考えられます。肖像画についても唯一残された物です。
      .showroom
        .showroom__image
          = image_tag 'room3.jpg', alt: 'グラーフ・マルコリーニ'
        .showroom__content
          %h3.subTitle グラーフ・マルコリーニ
          %p
            18世紀後半、封建主義に市民階級が反発し、次第にロココは衰退していきます。反して日常的で実生活に合ったものが求められるようになりました。歴史の変動と美術様式の変化に、マイセン磁器製作所も存続の危機に瀕していきました。1774年、工場の再建を図るため、マルコリーニ伯爵がマイセンの工場長として就任します。彼はすぐに剣に追加の印を入れるよう指示し、煌びやかな作品を残しつつも時代のニーズに合った作品を世に広めていきました。時代の波を見事乗り越える事が出来たのです。彼の在職した40年間には、花模様の絵付けなどにおいては新古典主義の影響が見られます。彼が工場長を務めた期間は「マルコリーニ時代」と呼ばれ、この時代のマイセン作品をコレクターの間では「マルコリーニ」と呼ばれ続けています。
      .showroom
        .showroom__image
          = image_tag 'room4.jpg', alt: 'パウル・ショイリッヒ'
        .showroom__content
          %h3.subTitle パウル・ショイリッヒ（1883 - 1945）
          %p
            20世紀初頭に出現したパウル・ショイリッヒは、ケンドラーが築き上げた造形を踏襲しつつも、ロココのような華美な装飾をとは違った新しい様式美を作り出しました。パリで「現代装飾美術・産業美術国際展」が開かれた1925年は、いわゆるアール・ヌーヴォーからアール・デコ様式へ移行する時期でした。ショイリッヒはその10年ほど前に、アール・デコを予感させる作品を次々発表しています。1937年のパリ万博では、6点の作品がグランプリを受賞。彼の活躍により、マイセン磁器製作所は再び王者の道を歩むことになったのです。
      .showroom
        .showroom__image
          = image_tag 'room5.jpg', alt: 'ハインツ・ヴェルナー'
        .showroom__content
          %h3.subTitle ハインツ・ヴェルナー（1928 - 2019）
          %p
            ハインツ・ヴェルナーは、ザクセン生まれの絵付師です。その偉大な功績は、300年近いマイセン磁器の歴史においても、特筆すべきものです。今日マイセンを代表する数々の絵付けデザインは、主にヴェルナーによって創案され、その作品は幻想的でメルヘンあり、ファンタジーあり、かつ生命力にあふれています。まさに現代マイセンを代表する顔と言っても過言ではないでしょう。
            マイセン磁器製作所設立250周年にあたる1960年、マイセンではいわゆるロココ期の偉大なマイセン磁器作品に匹敵するような、新しいデザインのマイセンを創造しようと「芸術家創造集団」が結成されました。「五大芸術家」と呼ばれるアーティスト達です。その中心人物がハインツ・ヴェルナーであり、その功績を称えられてドイツの人間国宝に選ばれ、現在のマイセン磁器製作所の最高顧問でもあります。
  %section
    %h2.sectionTitle 展示品紹介 <span>Exhibit Introduction</span>
    .basicTextBlock
      .basicTextBlock__content
        %p
          箱根マイセンアンティーク美術館で展示している一部をご紹介しております。他にも多数のマイセン磁器を展示しておりますので、当美術館へ足を運んでいただけたら幸いです。
    .items
      .item
        .item__image
          = link_to (image_tag 'img_museum-item0.png', alt: 'アルプレヒト城と薔薇', width: '200'), 'images/img_museum-item0.png', target: '_blank', data:{lity: ''}
        .item__content
          %h3.subTitle アルプレヒト城と薔薇
          %p 磁板 1760年
      .item
        .item__image
          = link_to (image_tag 'img_museum-item1.png', alt: 'インド像', width: '200'), 'images/img_museum-item1.png', data:{lity: ''}
        .item__content
          %h3.subTitle インド像
          %p 原作エッサー 2000年作
      .item
        .item__image
          = link_to (image_tag 'img_museum-item2.png', alt: 'スノウボール', width: '200'), 'images/img_museum-item2.png', data:{lity: ''}
        .item__content
          %h3.subTitle スノウボール
          %p 原作ケンドラー　1850年
      .item
        .item__image
          = link_to (image_tag 'img_museum-item3.png', alt: 'ユニークピース', width: '200'), 'images/img_museum-item3.png', data:{lity: ''}
        .item__content
          %h3.subTitle ユニークピース
          %p ペーターシュトラング作
      .item
        .item__image
          = link_to (image_tag 'img_museum-item4.png', alt: '時を持つ子供達', width: '200'), 'images/img_museum-item4.png', target: '_blank', data:{lity: ''}
        .item__content
          %h3.subTitle 時を持つ子供達
          %p ポールショイリッヒ作
  %section
    %h2.sectionTitle 建物について <span>About The Building</span>
    .museumOutside
      .museumOutside__image
        = image_tag 'img_museum-outside.jpg', width: '640', alt: '美術館の外観'
      .museumOutside__content
        %p
          箱根マイセンアンティーク美術館となったこの建物は、吉田茂総理の時代に日本銀行総裁だった一萬田尚登（いちまだひさと）氏が住まわれていた邸宅です。
        %p
          元は東京都港区青山に建っていて、道路拡張のため取り壊しが決まっていたのですが、建物の素晴らしさに魅了された旧東海銀行が買い取り、４０年ほど前に保養施設として箱根強羅に移設しました。
          その後、バブル崩壊や金融トラブルなどの時代を経て、持ち主も変わっていきましたが、運良く財閥の方々の手に渡り、余すことの無い管理と補強が行われ続けました。
          しかし、現代の生活様式の変化と建物の時代様式の保護とは相反するもの。建物の存続も危ぶまれていった頃、当館と出会い、当館のアンティークを大切にする趣旨に合致するため、マイセン庭園美術館を支えてきてくださったお客様に感謝の意を込めて是非ご紹介したいと、開館を決意しました。
        %p
          今後もこの素晴らしい建物を大切にしていき、皆様と喜びを共有出来るよう努力していきたいと思います。
      .museumOutside__content
        %h3.subTitle 大改造！！劇的ビフォーアフター SEASON II
        .horizontalImages
          .element
            = image_tag 'img_museum-ba0.jpg', alt: '大改造！！劇的ビフォーアフター', width: '300'
          .element
            = image_tag 'img_museum-ba1.jpg', alt: '大改造！！劇的ビフォーアフター', width: '300'
        %p
          仙石原にあったマイセン庭園美術館を強羅のこの建物に移転することは決まりましたが、敷地面積1000坪の広大な庭は2年間、人の手が入らず荒れ放題。手のつけようがありませんでした。
          そこで、朝日放送「大改造！！劇的ビフォーアフター」に、庭のリフォームをお願いしたのです。
        %p
          館長の希望は、元々個人宅だったため目隠しのように高い木が生い茂るこの庭を、美術館にお越しのお客様のみでなく地域の方が気軽に集えるような開放的な庭にしたい、ということ。
          そんな難題に、「廃材のスタイリスト」の異名を持つ「匠」金井良一氏と、タレントのユージさん＆その仲間が立ち上がってくださいました。
        %p
          匠の技とユージさんたちのお陰で、館長の希望以上の素晴らしい庭園が出来上がり、2011年9月4日・11日の2週に渡る放送をご覧になった方々がたくさん来館してくださいました。


